
.title {
    font-family: Cormorant+SC;
    text-align: center; 
}

.jpc-title {
     text-align: center;
     color: black;
     font-family: cormorant;
     margin-top: auto;
    min-height: 50px;
    margin-top: 50px;
}

.navnugget {
     height: 100px;
     width: 100px;
}

.navbar .navnugget {
  float: left;
  margin: 0 8em 0 8em;
     
} 
.landing {
     min-height: 200px;
     border: 200px;
     border-color: black;
     /*background-image: url(../assets/jpclogo.png);*/
     background-size: 200px;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: center;
     background-color: skyblue;


    
